
.container {
  background-color:lightcoral;
  padding:20px;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  gap: 10px; 
}


.child {
  width:200px;
  border-radius:10px;
  background: white;
  padding:20px;
  color: white;
  color:blue;
  display:flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.header {
  text-align: center;
  margin:0;
}

.number {
  text-align:center;
  margin:0;
}

.paragraph {
  text-align: center;
  margin:0;
}