
.main h1 {
  font-size: 50px;
  color: #fff;
  letter-spacing: 10px;
  margin-left: 120px;
  margin-right:120px;
  background: linear-gradient(to right, #f3b4cc, #fbd4ba,#f4d5f4, #f7f4d8);
  -webkit-text-stroke: 0.8px black;

  text-align: center;
  text-decoration:overline;


}

.main img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 20px;
  border-style: dashed;  

}

button  {
  margin:100px;
  border-radius:20px;
  border-color: pink;
  padding:12px;

  display: block;
  margin: auto;
  margin-top:20px;
  background-color: #fff;

  font-size:25px;
  
  

}

button a{
  text-decoration: none;
}


button a:hover{
  
  padding:14px;
  cursor:pointer;

  color:rgb(157, 90, 196);
  transition: 0.3s;

  
}
#pageTitle{
  font-weight: bolder;
}
