/* Palatte:  Navy Blue #0C356A Blue #0174BE  Yellow #FFC436  Cream #FFF0CE*/ 

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200 ');

:root{
  --navyBlue: #0C356A;
  --blue: #0174BE;
  --yellow: #FFC436;
  --cream: #FFF0CE;
}

*{
  font-family: "Share Tech Mono", monospace;
}


.navbar{
  background-color: var(--navyBlue);
  height: 0.25vh;
  border: 5px solid #ffcc5c;
  color: var(--cream);

  padding: 4rem;
  justify-content: center;
  align-items: center;

  font-size:10.5px;
  display: flex;
  flex-direction: row;
  gap:18em;
}

.navbar > div > a{
  flex: 1;
  text-decoration: none;
  color: var(--cream);
  cursor:pointer;
}


.navbar > div > a:hover{
  filter: brightness(85%);
}

.navbar > .logo {
  flex: 2;
  /*flex-grow, flex-shrink, flex-basis */
}



.logo{  
  margin-right: auto;
}

.navItem{
  font-size:25px;
}