@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    font-family: "Outfit", sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
}



.container {
    background-color:lightcoral;
    padding:20px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap: 40px; 
    justify-content: center;
    align-items: center;
  }
  
  .container h1{
    text-align: center;
  }
  
  .child {
    width:200px;
    border-radius:10px;
    background: pink;
    padding:20px;
    color: pink;
    color:blue;
    display:flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  
  .header {
    text-align: center;
    margin:0;
  }
  
  .number {
    text-align:center;
    margin:0;
  }
  
  .paragraph {
    text-align: center;
    margin:0;
  }