  
.main p{
  font-family: "Gluten", cursive;
  font-weight: 300px;
  font-size: 18px;
  letter-spacing: 1.2px;
  line-height: 22px;

  text-align: center;
  margin-left:8%;
  margin-right:8%;
  padding: 30px;
  background-color:#d3d0fa;
  border-radius:2rem;
}


.gallery{
  padding:40px;
  background: linear-gradient(180deg, #f3b4cc, #fbd4ba,#f4d5f4, #f7f4d8);
  border-radius:2rem;
  display:flex;
  flex-direction: wrap;
  justify-content: center;
  align-items: center;
  gap:80px;
  margin-top: 2em;
  margin:2rem;
  margin-bottom:2rem;
}



.gallery p{
  padding-left:5rem;
  font-size:20px;
  text-decoration: none;
}

.gallery :hover{
  filter: brightness(95%);
  transition: 0.5s;
  cursor:pointer;
}


.behindImg{
  height:22em;
  background-color: #fff;
  padding:0.8rem;
  border: 10px;
  border-radius:10px;



}
img{
  align-items: center;
  justify-content: center;
  display:flex;
  flex-direction: column;
  height:19rem;
  border: 10px;
  border-radius:10px;


}







button  {
  margin:100px;
  border-radius:20px;
  border-color: pink;
  padding:10px;
  padding-left: 0.8em;
  padding-right: 0.8em;


  display: block;
  margin: auto;
  margin-top:20px;
  background-color: #fff;

  font-size:25px;
  
  

}

button a{
  text-decoration: none;
}


button a:hover{
  
  padding:14px;
  cursor:pointer;

  color:rgb(157, 90, 196);
  transition: 0.3s;

  
}