* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gluten";
}

body{
  background-color:#fff;
  overflow-x:hidden;
  min-height: 100%;
  overflow-y: auto;
}

/* color scheme #A24502 #CD8A39 #595D2B #1D2A10 #060D08 */

.container3 {
  height: 750px; 
  margin-top: 50px;
  color: hsl(65, 37%, 27%);
}

.container3 h2{
  color: #e7a85b;
  font-size:35px;
  margin-top:80px;
  margin-left:250px;
  letter-spacing: 2px;
  float:left;
}

.birdImg{
  border-radius: 10px; 
  width:220px; 
  height: 200px; 
  object-fit:contain;
  margin-right:80px;
  transform: rotate(15deg);
  padding-bottom: 10px ;
  float:right;
}

.container3 p{
  margin-top: 200px;
  margin-left: 30px;
  margin-right:50px;
  font-size:18.5px;
}

.aboutMeImg {
  width: 350px;
  height: auto;
  border:20px;
  border-radius: 20px;
  margin-top: 15px;
  margin-left: 80px;
}


.welcome_button{ 
  font-family: "Gluten";
  background-color: #595D2B;
  border-color:white;
  border-style:solid;
  border-width: 3px;
  border-radius: 30px;         
  height: 60px;
  width: 200px;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
  padding-bottom: 10px;
  padding-top: 9px;
  padding-left: 16px;
  padding-right: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%, 500%);
  color: #ffb337;
  transition: background-color 0.15s,
  color 0.5s;
}
.welcome_button:hover {
  background-color: #1D2A10;
  color:#c5d233;
}

.button{
  margin-left:5px;
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50px;
  line-height: 60px;
  text-align: center;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}

.wrapper{
  margin-top:20px;
  margin-left: 150px;
}

/* allows for social media icon color to only appear over hover */
.wrapper a{
  color:unset;
}

.wrapper .button .icon{
  font-size: 20px;
}

.wrapper .button:hover{
  width: 100px;
  transition: 0.7s;
}

.wrapper .button:nth-child(1):hover .icon{
  color: #426782;
}

.wrapper .button:nth-child(2):hover .icon{
  color: #1DA1F2;
}

.wrapper .button:nth-child(3):hover .icon{
  color: #E1306C;
}


.wrapper .button:nth-child(4):hover .icon{
  color: #ff0000;
}



