* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
  font-family:"Amatic SC"
}

h1{
  letter-spacing: 3px;
  padding-top:50px;
  padding-bottom:40px;
  color:#ffb151;
}


/* color scheme #A24502 #CD8A39 #595D2B #1D2A10 #060D08 */
/*  # parish targets the html element with the parish id */ 
#name{
  position:absolute;
  background-color: #d1e9b9;
  width: fit-content;
  opacity:0;
  border-radius:10px;
  border: 3px solid #194325;
  padding: 5px;
  font-size: 1.2rem;
}


/* later i want to add a feature where u can also get the capitals of the parish
#capital{
  background-color: #315e03;
  width: fit-content;
  border-radius:5px;
  border: 3px solid #ffb151;
  color: #fff;
  padding: 5px;
  font-size: 1.5rem;
}
*/

/* #315e03 #ef9b34 #060D08*/

svg{
  padding: 25px;
  margin-bottom:50px;
}

svg path{
  fill:#315e03;
  stroke: #eee;
  stroke-width: .25;
}

svg path:hover{
  fill: #060D08;
  transition: 0.6s;
  cursor:pointer;
}

.container{
  display:flex;
}

.box-1{
  height:710px;
  width:50%;
  background-color: #ffb151;
  float:left
}

.box-2{
  height:710px;
  width:50%;
  background-color: #595D2B;
  float:right
}

h2{
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

img{
  width: 100%; /* Set width to container width */
  height: 710px; /* Let height adjust proportionally */
  object-fit: cover; /* Resize to cover container while maintaining aspect ratio*/
}

.box-2 h3 {
  letter-spacing: 10px;
  text-align: center;
  font-size:40px;
  color:#86ab49;
  padding:70px;

}


.box-2 p{
  color:#d1e9b9;
  font-size:20px;
  line-height: 40px;
  padding-left: 24px;
}