
.imageContainer{
  width: 400px;
  margin:200px;
  padding:40px;
}


.imageContainer img{
  width: 100%; /* Set width to container width */
  height: 400px; /* Let height adjust proportionally */
  object-fit: cover; /* Resize to cover container while maintaining aspect ratio*/
}